*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
footer{
    position: fixed;
    height: 5%;
    width: 100%;
    bottom: 0;

    padding: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: olive;
}